    .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url("images/Tina.jpg");
        background-size: cover;
        overflow: hidden;
    }
    
    .title {
        font-size: 60px;
        color: white;
        text-shadow: 5px 5px rgba(255, 153, 0, 0.5);
    }
    
    .MainTimerContainer {
        width: 50%;
        text-align: center;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 5px 5px rgba(255, 153, 0, 0.5);
        min-width: 1000px;
        transform: translateX(-50px);
        animation: opacity .5s forwards;
    }
    
    .DisplayTimer {
        width: 50%;
        display: inline-block;
    }
    
    p {
        color: white;
        font-weight: bold;
        padding: 20px 0 20px 0;
        border-radius: 50px;
        font-size: 80px;
        background-color: rgb(255, 153, 0);
        text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
        box-shadow: 5px 5px rgba(255, 153, 0, 0.5);
    }
    
    @keyframes opacity {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    @keyframes opacityCredits {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    .credits {
        padding: 2vh;
        margin-top: 2vh;
        color: white;
        font-weight: bold;
        font-size: large;
        border-radius: 20px;
        background: linear-gradient(rgb(255, 153, 0), rgb(255, 102, 0));
        text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
        box-shadow: 3px 3px rgba(255, 255, 255, 1);
        transform: translateX(-50px);
        animation: opacity .5s forwards;
        max-width: 150px;
    }
    
    .ButtonSearch {
        padding: 2vh;
        margin-top: 2vh;
        color: white;
        font-weight: bold;
        font-size: large;
        border-radius: 20px;
        background: linear-gradient(rgb(255, 153, 0), rgb(255, 102, 0));
        text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
        box-shadow: 3px 3px rgba(255, 255, 255, 1);
        animation: opacityCredits .5s forwards;
        cursor: pointer;
        border: 0;
    }
    /* Responsive to mobile devices */
    
    @media (max-width: 650px) {
        .container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-image: url("images/Tina.jpg");
            background-size: contain;
            overflow: hidden;
        }
        .title {
            font-size: 30px;
            color: white;
            text-shadow: 5px 5px rgba(255, 153, 0, 0.5);
        }
        .MainTimerContainer {
            width: 100%;
            text-align: center;
            border-radius: 20px;
            background-color: rgba(0, 0, 0, 0.5);
            box-shadow: 5px 5px rgba(255, 153, 0, 0.5);
            transform: translateX(-50px);
            animation: opacity .5s forwards;
            min-width: 610px;
        }
        .DisplayTimer {
            width: 50%;
            display: inline-block;
        }
        p {
            color: white;
            font-weight: bold;
            padding: 20px 0 20px 0;
            border-radius: 50px;
            font-size: 50px;
            background-color: rgb(255, 153, 0);
            text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 5px rgba(255, 153, 0, 0.5);
        }
        @keyframes opacity {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
                transform: translateX(0);
            }
        }
        @keyframes opacityCredits {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        .credits {
            padding: 2vh;
            margin-top: 2vh;
            color: white;
            font-weight: bold;
            font-size: large;
            border-radius: 20px;
            background: linear-gradient(rgb(255, 153, 0), rgb(255, 102, 0));
            text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 3px 3px rgba(255, 255, 255, 1);
            transform: translateX(-50px);
            animation: opacity .5s forwards;
            min-width: 160px;
            text-align: center;
        }
        .ButtonSearch {
            padding: 2vh;
            margin-top: 2vh;
            color: white;
            font-weight: bold;
            font-size: large;
            border-radius: 20px;
            background: linear-gradient(rgb(255, 153, 0), rgb(255, 102, 0));
            text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 3px 3px rgba(255, 255, 255, 1);
            animation: opacityCredits .5s forwards;
            cursor: pointer;
            border: 0;
            min-width: 160px;
        }
    }